body{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   

}

.parent{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    background-color: rgba(240, 248, 255, 0.247);
    padding: 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: #000;
    border: 1px solid #000;
    margin: 2rem;
}